SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
FROM_EMAIL=ai.dhruv0346@gmail.com
TO_EMAIL=ai.dhruv0346@gmail.com
RECAPTCHA_SECRET_KEY=
NEXT_PUBLIC_SANITY_PROJECT_ID=
NEXT_PUBLIC_SANITY_DATASET=production
